<header
  class="d-flex justify-content-between align-items-center bg-dark text-white p-3"
>
  <section>
    <h2>Lista de problemas</h2>
  </section>
  <section class="d-flex justify-content-between align-items-center">
    <p class="text-white mx-3">Refresh:</p>
    <p-button
      icon="pi pi-refresh"
      (click)="refresh()"
      class="text-white bg-dark"
    ></p-button>
  </section>
</header>
<section class="container mt-3">
  <section class="row col-12">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Filter..." (keyup)="Filterchange($event)" />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell mat-sort-header="id" *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell mat-sort-header="title" *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="State">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Created">
        <th mat-header-cell *matHeaderCellDef>create</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="Update">
        <th mat-header-cell *matHeaderCellDef>update</th>
        <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="Url">
        <th mat-header-cell *matHeaderCellDef>Url</th>
        <td mat-cell *matCellDef="let element">{{ element.url }}</td>
      </ng-container>

      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef>+</th>
        <td mat-cell *matCellDef="let element" class="d-flex">
          <p-button
            icon="pi pi-user-edit"
            (click)="FunctionEdit(element)"
            class="mx-2"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            (click)="FunctionDelete(element.id)"
          ></p-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        (click)="getrow(row)"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator class="mt-2" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
    </mat-paginator>
  </section>
</section>
